@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");

body {
  font-family: "Tenor Sans", sans-serif;
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
  background: #3a3a3a;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  font-weight: 100;
  font-size: 30px;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s easy 0s;
}

.nav-links li a:hover {
  color: #4e7bcf;
}

.login {
  margin-left: 20px;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 40px 0 40px 0;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  color: #94b2eb;
  cursor: pointer;
}

h2 {
  color: rgb(255, 255, 255);
  font-size: 80px;
  text-transform: uppercase;
}

h4 {
  color: rgb(255, 255, 255);
  text-align: center;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

section {
  display: block;
}

.text-center {
  text-align: center;
}

.filter {
  display: flex;
  justify-content: center;
}

.date-filter-btn {
  font: inherit;
  background-color: #4e7bcf;
  color: white;
  padding: 16px;
  margin: 5px;
  font-size: 16px;
  border: none;
}

.date-filter {
  position: relative;
  display: inline-block;
}

.date-filter:hover .date-filter-btn {
  cursor: pointer;
}

.site-container {
  margin: 2rem auto;
  max-width: calc(100% - 80px);
}

.movie-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(265px, 300px));
  gap: 2rem;
  margin-top: 50px;
}

.article-image {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.article-image img {
  max-width: 100%;
  height: auto;
  border-radius: 2px 2px 0 0;
}

.article-card {
  background: rgb(34, 34, 34);
  border-radius: 2px;
  transition: 0.3s;
}

.article-card:hover {
  box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
  cursor: pointer;
}

.article-content {
  padding: 2rem;
}

.article-content .card-category {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  color: #94b2eb;
  display: block;
  text-decoration: none;
}

.article-content .card-title {
  margin: 1rem 0;
  color: #94b2eb;
}

.article-content .card-excerpt {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #94b2eb;
  margin: 0;
}

p {
  color: #94b2eb;
}

.more {
  font: inherit;
  color: white;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.row {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.label {
  font-weight: bolder;
}

.movie-info {
  border: 1px solid white;
  padding: 40px;
}

.title {
  color: white;
}

p.description {
  color: #cccccc;
}

.movie-poster img {
  max-width: 350px;
}

.dropdown {
  position: relative;
  display: inline-block;
  border: 1px solid white;
  padding: 10px;
}

span {
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content a {
  color: #3a3a3a;
}

.dropdown-content a:hover {
  color: #4e7bcf;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.poster-slide {
  --slice-n: 5;

  width: 100%;
  height: 500px;
  max-height: 100%;
  display: flex;
  justify-content: space-between;
}

.poster-slide img {
  object-fit: cover;
  width: calc(100% / var(--slice-n));
  height: 100%;
  transition: width 1s;
}

.poster-slide.hovered img {
  width: calc(calc(100% - 35%) / calc(var(--slice-n) - 1));
}

.poster-slide img:hover {
  width: calc(35%);
  cursor: pointer;
}

.contact {
  margin-top: 60px;
}
